# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/

# A file for the the API key and search engine identifier
constants.py

.pytest_cache/

runner.py